body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.project-box {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 1080px;
    width: 80%;
    text-align: left;
}

.project-img {
    width: auto;
    height: auto;
    margin-right: 20px;
    display: flex;
    
}

.bio-container {
    background-color: #029beb;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #003173;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005fa3;
}


.center-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 15px;
}


#clock {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 80px; 
    right: 20px; 
    background-color: #14418f;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.summary-text {
    font-size: 20px;
    text-align: justify; 
    margin: 20px; 
}



.text-box {
    font-size: 25px; 
    background-color: #029beb; 
    color: white; 
    padding: 40px; 
    border-radius: 10px; 
    max-width: 1080px; 
    width: 80%; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

.typing-effect {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(110) 1s forwards;
}


nav {
    background: linear-gradient(50deg, #029beb, #003173, #003173, #029beb);
    padding: 20px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}


nav ul li {
    margin: 0 15px; 
}


nav ul li a {
    font-size: 18px; 
    color: white;
    text-decoration: none;
    font-weight: bold; 
    text-transform: uppercase;
    padding: 5px 10px; 
    transition: background-color 0.3s ease;
}


nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
}
